
button {
    height: 30px;
    cursor: pointer;
}

div {
    margin: 10px 5px;
}
/* ROW 1 */
.subscribe-button {
    background-color: rgb(204, 5, 5);
    color: white;
    border: none;
    padding: 0 16px;
    border-radius: 2px;
    margin-right: 8px;
    transition: background-color 300ms;
}

.subscribe-button:hover {
    background-color: rgba(204, 5, 5, .8);
}

.subscribe-button:active {
    background-color: rgba(204, 5, 5, .4);
}

.join-button {
    background-color: white;
    border: 1px solid rgb(41, 118, 211);
    color: rgb(41, 118, 211);
    padding: 0 16px;
    border-radius: 2px;
    transition: all 300ms;
}

.join-button:hover {
    background-color: rgb(41, 118, 211);
    color: white;
}

.join-button:active {
    opacity: 0.7;
}

.tweet-button {
    background-color: rgb(2, 158, 255);
    color: white;
    padding: 0 16px;
    border: none;
    border-radius: 18px;
    font-weight: bold;
    font-size: 15px;
    margin-left: 8px;
    transition: box-shadow 400ms;
}

.tweet-button:hover {
    box-shadow: 3px 8px 10px rgba(0, 0, 0, .3);
}

/* ROW 2 */
.uber-button {
    background-color: black;
    color: white;
    width: 100px;
    font-size: 11px;
    transition: opacity 300ms;
}

.uber-button:hover {
    opacity: .7;
}

.amazon-button {
    background-color: rgb(255, 216, 20);
    border: none;
    border-radius: 15px;
    
    width: 150px;
    transition: background-color 300ms;
}

.amazon-button:hover {
    background-color: rgb(243, 205, 18);
}

.github-button {
    background-color: rgb(81, 181, 110);
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    width: 80px;
    transition: all 500ms;
}

.github-button:hover {
    box-shadow: .3px 6px 10px rgba(0, 0, 0, .3);
}

/* ROW 3 */
.bootstrap-button {
    background-color: rgb(121, 82, 179);
    color: white;
    border: none;
    width: 110px;
    border-radius: 4px;
    font-weight: 675;
    transition: background-color 500ms;
}

.bootstrap-button:hover {
    background-color: rgb(102, 69, 151);
}

.boostrap-download{
    background-color: white;
    border: 1px solid rgb(108, 117, 125);
    color: rgb(108, 117, 125);
    font-weight: bold;
    border-radius: 4px;
    width: 100px;
    transition: all 600ms ease;
}

.boostrap-download:hover {
    background-color: rgb(108, 117, 125);
    color: white;
}

.linkedin-button {
    background-color: rgb(10, 102, 194);
    border: none;
    color: white;
    font-weight: bold;
    width: 225px;
    border-radius: 18px;
    transition: background-color 300ms;
}

.linkedin-button:hover {
    background-color: rgb(9, 84, 160);
}

.linkedin-save {
    background-color: white;
    border: 1px solid rgb(10, 102, 194);
    width: 75px;
    color: rgb(10, 102, 194);
    font-weight: 800;
    border-radius: 18px;
    transition: all 200ms;
}

.linkedin-save:hover {
    background-color: rgba(163, 209, 255, 0.25);
    width: 73px;
}

/* Shopping exercise */
.link {
    color: rgb(0, 113, 133);
    font-weight: 600;
}

.link:hover {
    color: rgb(190, 66, 0);
}

.shopping-exercise h3 {
    color: rgb(0, 118, 0);
}

.shopping-exercise button {
    width: 120px;
    border: none;
    border-radius: 18px;
    font-weight: bold;
    transition: all 300ms;
}

.add-button {
    background-color: rgb(255, 216, 20);
}

.add-button:hover {
    background-color: rgb(230, 194, 19);
}

.add-button:active {
    opacity: .5;
}

.buy-button {
    background-color: rgb(255, 164, 28);
}

.buy-button:hover {
    background-color: rgb(222, 141, 19);
}

.buy-button:active {
    opacity: .5;
}

.pagination button {
    height: auto;
    margin: 0 8px;
    padding: 8px 6px;
    font-size: 16px;
}

.pagination a {
    margin: 0 3px;
    font-size: 18px;
}

.green button{
    background-color: green;
    border: none;
    color: white;
    font-size: 18px;
    height: auto;
    padding: 8px 15px;
    transition: all 300ms ease;
}

.shadow {
    box-shadow: 5px 3px 5px rgba(0, 0, 0, .3);
}

.num button{
    margin: 10px 15px;
} 

.stretch:hover {
    padding: 16px 30px;
}

.shadow:active {
    margin-left: 3px;
    margin-top: 3px;
    box-shadow: none;
}

.num button:hover {
    margin: 10px 5px;
    padding: 8px 25px;
}
