.header {
    height: 60px;

    display: flex;
    justify-content: space-between;
}

.left-section {
    background-color: aquamarine;
    width: 150px;
    margin-right: 50px
}

.middle-section {
    background-color: bisque;
    flex: 1;
    max-width: 400px;
}

.right-section {
    background-color: lightsalmon;
    width: 200px;
    margin-left: 30px;
}


/* .search-bar {
    margin: 10px;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid rgba(125, 125, 125, .5);
    padding: 10px 15px;

} */